.plot{
	width:25%;
	height:200px;
	float:left;

}

.guide{
    fill:none;
    stroke:rgb(100,100,100);
}

.area{
    fill:rgba(150,150,150,.2);
}
.line{
    fill:none;
    stroke:rgb(80,180,80);
    stroke-width:1px;
}

/*.plot_area{
    height:1000px;
}*/

.plot h2{
    position:absolute;
    font-size:1.2em;
}